In [1]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

# Load the configuration variables from 'dwh.cfg'

In [2]:
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_ENDPOINT           = config.get("CLUSTER", "HOST")

# Make Connection to Database

In [3]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Check for Data inside artist table first 5 rows only

In [4]:
%%sql
select * FROM artist LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARZ0ER91187B9A08CD', 'Marshmallow Coast', 'Athens, Georgia', 33.95813, -83.37325),
 ('AR2Q7E311C8A423C97', 'Tapper Zukie', '', None, None),
 ('ARYPTWE1187FB49D64', 'Polygon Window', '', None, None),
 ('ARJEOGL1187B98E9D4', 'Klee', 'Cologne, Germany', None, None),
 ('ARH7WGZ1187B9ACC34', 'Tankcsapda', '', None, None)]

# Check for Data inside users table first 5 rows only

In [5]:
%%sql
select * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(44, 'Aleena', 'Kirby', 'F', 'paid'),
 (42, 'Harper', 'Barrett', 'M', 'paid'),
 (97, 'Kate', 'Harrell', 'F', 'paid'),
 (99, 'Ann', 'Banks', 'F', 'free'),
 (78, 'Chloe', 'Roth', 'F', 'free')]

# Check for Data inside song table first 5 rows only

In [6]:
%%sql
select * FROM song LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOHEPYD12A8C137123', 'Vision Of Love', 'ARKSZW81187B9B695D', 1990, 211.9571),
 ('SOHCBJX12A58A7CFEA', 'Came In Brave (Album Version)', 'ARBH7WZ1187B999245', 2006, 185.5473),
 ('SOAWGMH12A6701D20F', 'Beat The Retreat', 'ARSTKIT1187B9A37A8', 1984, 352.70485),
 ('SOFPIOO12A6D4F8363', 'Breezy', 'ARL6HUT1187FB4D9C2', 2001, 267.96363),
 ('SOSVULC12A8C14149A', 'Friday (Shut The Club Down)', 'ARRJYEN1187B9B26B3', 2008, 218.67057)]

# Check for Data inside time table first 5 rows only

In [8]:
%%sql
select * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 19, 13, 49, 35), 13, 19, 47, 11, 2018, 1),
 (datetime.datetime(2018, 11, 30, 4, 23, 31), 4, 30, 48, 11, 2018, 5),
 (datetime.datetime(2018, 11, 9, 22, 36, 39), 22, 9, 45, 11, 2018, 5),
 (datetime.datetime(2018, 11, 5, 16, 33, 56), 16, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 7, 19, 52, 57), 19, 7, 45, 11, 2018, 3)]

# Check for Data inside songplay table first 5 rows only

In [9]:
%%sql
select * FROM songplay LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(34, datetime.datetime(2018, 11, 29, 1, 46, 50), 24, 'paid', 'SOPMEON12A81C1FDB9', 'AR8WVQY1187FB3FA10', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (98, datetime.datetime(2018, 11, 29, 1, 9, 23), 50, 'free', 'SOHGLRR12A6D4FB90B', 'ARL1MEI1187B9AD98B', 1011, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (162, datetime.datetime(2018, 11, 21, 1, 3, 13), 80, 'paid', 'SOHOPAT12A8C1436AC', 'ARDQ62L1187FB56FF0', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (226, datetime.datetime(2018, 11, 7, 1, 31, 24), 8, 'free', 'SOHPRCO12A6D4FB43D', 'AR4117R1187B9ACDF7', 181, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (290, datetime.datetime(2018, 11, 15, 10, 45, 4), 16, 'paid', 'SOYYIZT12A8C1408CA', 'AR6XPWV1187B9ADAEB', 575, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

# Check for total count inside artist table

In [12]:
%%sql
select Count(*) as total FROM artist;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

# Check for total count inside users table

In [13]:
%%sql
select Count(*) as total FROM users;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

# Check for total count inside song table

In [14]:
%%sql
select Count(*) as total FROM song;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

# Check for total count inside time table

In [15]:
%%sql
select Count(*) as total FROM time;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9957,)]

# Check for total count inside songplay table

In [16]:
%%sql
select Count(*) as total FROM songplay;

 * postgresql://dwhuser:***@dwhcluster.c9kzmcp9girj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9957,)]